.socialsBar {
  @apply z-[60] flex flex-col justify-between items-center fixed bottom-0 left-0 px-7 py-5;
  min-height: 15%;
}

.socialsBar > a {
  @apply my-4
}

.socialsBarIcons {
  transition: all 300ms ease-in-out;
}
.socialsBarIcons:hover {
  @apply text-blue-light;
  fill: #700C2F !important;
}
